/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}
@media (max-width: 767px) {
	body#body.mobile {
	    padding-right: 0px;
	    padding-left: 0px;
	}
}
@media(max-width: 880px) and (orientation: portrait) { 
	/*ciritial*/
	body.phone.start .start-content {
	    background-position: 100% 0%;
	}	
	body.phone.miet-mich .flex-item.flex-item--logo {
	    margin: 50px 0px 0px;
	}	
	body.phone .location--container .flex-row.location-miet-mich {
	    margin: 80px 0px;
	}
	body.phone .flex-item img {
	    margin-bottom: 15px;
	}	
	body.phone .location--container .flex-item.flex-item--logo {
	    margin-bottom: 30px;
	}
	body.phone .flex-item.flex-item--logo img {
	    width: 180px;
	}
	body.phone .location--container .flex.location-miet-mich {
	}
	body.phone .ueber-uns--container .flex,
	body.phone .location--container .flex,
	body.phone .miet-mich--container .flex,
	body.phone .menu-row.flex {
		 -webkit-box-orient: vertical;
		 -webkit-box-direction: reverse;
		     -ms-flex-direction: column-reverse;
		         flex-direction: column-reverse;
	    
	}	

}
@media(max-width: 880px) and (orientation: landscape) {
	body#body.phone.start .start-content {
	    background-position: 70% 0%;
	}		
	body.phone.start .start-content {
	    height: 100vh;
	}	
	body.phone.start main#content {
	     height: initial; 
	}
	body.phone .location--container .flex-item--text p,
	body.phone .ueber-uns--container .flex-item--text p {
	    padding-right: 20px;
	}
}
@media(max-width: 880px) {
	/*ciritial*/
	body.phone .custom.event-badge {
	    display: none;
	}	
	body.phone .kontakt-info--top {
	    margin-bottom: 30px;
	    text-align: center;
	    font-size: 16px;
	}
	body#body.site.phone .logo-start--badge h1 {
	    margin: 5px 0px 25px;
	}	
	body#body.phone.mobile .logo-start {
	    left: calc((100% - 240px) / 2);
	}	
	body#body.phone.mobile .logo-start {
	    width: 240px;
	}	
	body.phone.start .start-content {
	    background: url(/images/papperlapub-start-bckgr.jpg);
	    background-repeat: no-repeat;
	    background-size: cover;
	}		
	body.phone .logo--small {
	    padding-left: 20px;
	}
	body.phone button.ap-btn {
	    width: 150px;
	    margin: 30px auto;
	}
	body#body.mobile.phone .navbar .nav>.active>a {
	    width: 40%;
	}
	body.phone ul.nav.menu.nav-pills {
	    background: var(--first-color);
	    padding: 20px 0px 40px;
	    border-radius: 3px 0px 0px 3px;
	}
	body.phone .navbar {
	    position: absolute;
	    z-index: 4;
	    right: 0;
	    top: 20px;
	    width: 50%;
	}
	body.phone.kontakt form {
	    padding: 10px 20px;
	}
	body.phone .header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    height: 100%;
	    width: 100%;
	}
	body.phone .header--img--container {
	    height: 150px;
	    overflow: hidden;
	}


	/*non-critical*/
	body.phone .menu-row.flex>div {
	    -ms-flex-preferred-size: 49%;
	        flex-basis: 49%;
	}
	body.phone .menu-row.flex {
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}	
	body.phone .ueber-uns-start .content-bottom--text {
	    margin-bottom: 50px;
	}
	body.phone .ueber-uns-start .content-bottom-2 h3 {
	    font-size: 21px;
	    height: initial;
	    margin-bottom: 20px;
	}
	body.phone .ueber-uns-start .content-bottom-2.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .bottom--img__overlay h3 {
	    color: #565656;
	}
	body.phone .bottom--img__overlay {
	    position: initial;
	    display: block;
	    width: 100%;
	    height: 100%;
	    opacity: 1;
	    transition: initial;
	}
	body.phone .ueber-uns-start--container .content-bottom {
	    margin: 20px 0px;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	body.phone .miet-mich-start--container .content-bottom--text {
	    text-align: center;
	}
	body.phone .content-bottom--img {
	    margin-bottom: 30px;
	    text-align: center;
	}	
	body.phone .miet-mich-start .content-bottom.flex {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: reverse;
	        -ms-flex-direction: column-reverse;
	            flex-direction: column-reverse;
	}
	body#body.phone .nav-kachel--img img {
	    object-fit: cover;
	    height: 100%;
	    width: 100%;
	}
	body#body.phone .nav-kachel--item {
	    width: 70%;
	    height: 380px;
	    overflow: hidden;
	    margin: 0px auto 30px;
	}
	body#body.phone .nav-kachel--row.flex {
	    display: block;
	    position: relative;
	}
	body#body.phone .start-nav .nav-kachel--text h2 {
	    font-size: 18px;
	}		

}
@media(max-width: 1024px) {
	/*ciritial*/
}
@media(max-width: 1280px) {
	body.desktop .innerwidth {
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media(max-width: 1366px) and (orientation: portrait) {
	/*critical*/
	/*non-critical*/
	body#body.mobile .nav-kachel--img img {
	    object-fit: cover;
	    height: 100%;
	    width: 100%;
	}
	body#body.mobile .nav-kachel--item {
	    width: 80%;
	    height: 380px;
	    overflow: hidden;
	    margin: 0px auto 30px;
	}
	body#body.mobile .nav-kachel--row.flex {
	    display: block;
	    position: relative;
	}
	body#body.mobile .start-nav .nav-kachel--text h2 {
	    font-size: 18px;
	}	
}
@media(max-width: 1366px) and (orientation: landscape) {

}
@media(max-width: 1366px) {
	/*critical*/
	body.tablet .custom.event-badge {
	    top: 25vh;
	    left: 20px;
	    max-width: 250px;
	}	
	body.mobile .event {
	    padding: 10px 20px;
	}
	body.mobile .flex-item--text h2 {
	    font-size: 21px;
	    margin: 0px 0px 20px;
	}
	body#body.mobile .logo-start img {
	    width: 180px;
	    margin-bottom: 5px;
	}
	body#body.mobile .logo-start {
	    width: 277px;
	}
	body#body.mobile .logo-start {
	    padding: 15px 0px 0px;
	}
	body#body.mobile .logo-start {
	    left: calc((100% - 277px) / 2);
	}	
	body.mobile.site .logo-start--badge h1 {
	    font-size: 21px;
	}	
	body.mobile .start-nav .nav-kachel--text h2 {
	    font-size: 21px;
	}	
	body#body.tablet.start .start-content {
	    background: url(/images/papperlapub-start-bckgr.jpg) top right no-repeat;
	    background-size: cover;
	}	
	body#body.mobile .header--content h1 {
	    font-size: 28px;
	    margin: 30px 0px 20px;
	    text-shadow: 1px 4px 3px #333;
	}
	body.mobile .custom.miet-mich-start img {
	    width: 200px;
	}	
	body#body.tablet .content-bottom>div {
	    -ms-flex-preferred-size: 48%;
	    flex-basis: 48%;
	}	
	body.mobile.not_home .item-page {
	    padding-left: 20px;
	    padding-right: 20px;
	}	
	body.mobile.start .below-the-fold .custom {
	    padding: 0px 20px;
	}
	body#body.tablet .logo--small {
	    padding: 10px 10px 5px 20px;
	}	
	body#body.mobile .brand-description.uppercase p {
	    font-size: 12px;
	    line-height: initial;
	    margin-bottom: initial;
	}
	body#body.mobile .logo--small img {
	    width: 100px;
	}
	body#body.mobile .navbar .nav>.active>a {
	    background: #fff;
	    width: 30%;
	}
	body#body.mobile nav.navbar-wrapper {
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
	}	
	body#body.mobile span.icon-bar {
	    background-color: var(--first-color);
	}	
	body#body.mobile nav.navbar-wrapper {
	    position: absolute;
	    width: 100%;
	    opacity: 1;
	    box-shadow: 0px 2px 40px -15px rgba(74,74,74,0);
	    transform: translateY(0px);
	    animation: fadein 1s ease forwards;
	    transition: all 0.5s ease;
	    z-index: 2;
}	
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body.mobile .navbar .nav > li {
	    display: block;
	}
	body#body.tablet .nav-collapse, body#body.tablet .nav-collapse.collapse {
	    height: 0!important;
	    overflow: hidden!important;
	    padding: 0 0 80px 20px;
	}
	body.tablet .nav-collapse.collapse {
	    position: absolute;
	    right: -30px;
	    top: 0;
	    width: 80%;
	}
	body.tablet .nav-collapse {
	    clear: both;
	}
	body.mobile .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-box-shadow: 4px 4px 20px -11px rgba(74,74,74, 1);
	    box-shadow: 4px 4px 20px -11px rgba(74,74,74, 1);
	}
	body.tablet .nav-collapse ul.nav.menu.nav-pills {
	    background: var(--first-color);
	    width: 100%;
	    top: 60px;
	    border-radius: 0 0 0 10px;
	    padding: 30px 0 30px;
	    -webkit-box-shadow: 4px 4px 20px -11px rgba(74,74,74, 0);
	    box-shadow: 4px 4px 20px -11px rgba(74,74,74, 0);	    
	    -webkit-transform: translateX(100%);
	    -ms-transform: translateX(100%);
	    transform: translateX(100%);
	    -webkit-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	}
	body#body.tablet .nav-collapse.collapse,
	body#body.tablet .nav-collapse {
	    height: auto!important;
	}
	body.tablet .nav-collapse.openMenu ul.nav.menu.nav-pills {
	    -webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	    transform: translateX(0);
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	body.tablet .navbar .nav>li {
	    display: block;
	    float: none;
	}
	body.tablet .navbar .btn-navbar {
	    display: block;
	    position: relative;
	    z-index: 1;
	}
	body.tablet .navbar {
	    margin: 0 30px 0 auto;
	}
	body.tablet .navbar-wrapper {
	    -ms-flex-preferred-size: 75%;
	    flex-basis: 75%;
	}
	body.mobile ul.nav-child.dropdown-menu {
	    display: block;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    color: #fff;
	}
	body#body.mobile ul.nav-child.dropdown-menu {
	    background: transparent;
	    position: initial;
	    float: none;
	    box-shadow: none;
	    border: none;
	}
	body#body.mobile .dropdown-menu:before,
	body#body.mobile .navbar .nav>li>.dropdown-menu:after {
		content: initial;
		display: none !important;
	}
	body#body.mobile .navbar .nav li.dropdown>.dropdown-toggle .caret {
		display: none;
	}
	body#body.mobile ul.nav-child.dropdown-menu li a {
	    padding: 10px 30px;
	}
}
@media(max-width: 1279px) {
	body#body.desktop.site .navbar-wrapper:not(.sticky) .navbar .nav>li {
	    margin-right: 5px;
	}
	body#body.desktop.site .navbar-wrapper:not(.sticky) .navbar .nav>li>a {
	    padding: 40px 0px 40px !important;
	}
	body.desktop nav.navbar-wrapper.flex.fullwidth {
	    width: 100%;
	}
}
@media(max-width: 1679px) {
	body#body.desktop.site .navbar-wrapper:not(.sticky) .navbar .nav>li>a {
	    padding: 40px 5px 40px;
	}
}
@media(min-width: 1680px) and (max-width: 1850px) {
	body#body.desktop.site .navbar-wrapper:not(.sticky) .navbar .nav>li>a {
	    padding: 40px 10px 40px;
	}
}
@media(min-width: 1921px) {
	/*critical*/
	.header--img--container img {
	    -o-object-fit: cover;
	       object-fit: cover;
	    width: 100%;
	    height: 100%;
	}	
}

@media(max-width: 1440px) {
	body#body.desktop.site .navbar .nav>li a {
	    font-size: 12px;
	    padding: 5px 10px;
	}
	body#body.desktop #wrapper nav.navbar-wrapper div.vcard {
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	body#body.desktop #wrapper nav.navbar-wrapper div.navbar {
	    -ms-flex-preferred-size: 70%;
	        flex-basis: 70%;
	}	
}
@media(max-width: 1700px) {
	body#body.desktop nav.navbar-wrapper div.vcard {
	    -ms-flex-preferred-size: 40%;
	        flex-basis: 40%;
	}
	body#body.desktop nav.navbar-wrapper div.navbar {
	    -ms-flex-preferred-size: 60%;
	        flex-basis: 60%;
	}	
}
/*specials*/
@media(max-width: 1023px) {
	body#body.desktop div#wrapper {
		-webkit-filter: blur(10px);
		        filter: blur(10px);
	}
	body.desktop #resizeAlarm {
		display: block;
	}	
}
@media(min-width: 1024px) {
	body.desktop #resizeAlarm {
		display: none !important;
	}
}