/*
 * Styles CSS
 */
@font-face {
    font-family: 'open_sansregular';
    src: url('/templates/089-standard/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/templates/089-standard/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/templates/089-standard/fonts/Quicksand-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Quicksand-Regular';
    src: url('/templates/089-standard/fonts/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
}

/*Resp overrides*/
@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1000px;
      margin: 0px auto;
  }
}


/* critical CSS */

img[alt=""],
img:not([alt]) {
      border: 5px dashed #c00;

}
:root {
  --first-color: #ff9500; 
  --second-color: #4fc4fb;
}
.first-color {
	color: var(--first-color);
}
.second-color {
	color: var(--second-color);
}
a {
    transition: all .3s ease-in-out;
}
button.btn-navbar:active {
outline: none;
border: none;
}
button.btn-navbar:focus, a:focus {outline:0;}

.flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.space-between {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
body {
    animation:fadein .5s ease-in-out ;
      -webkit-animation:fadein .5s ease-in-out; 
}
    @-webkit-keyframes fadein 
    { from {opacity:0} to {opacity:1} }
    @keyframes fadein 
    { from {opacity:0} to {opacity:1} }

h1, h2, h3, h4 {
    font-family: 'open_sansregular';
    font-weight: normal;
}
p, ul li, a {
    font-family: 'Quicksand-Regular';
}
body#body .open-sans {
    font-family: 'open_sansregular';
}
body#body .quicksand {
    font-family: 'Quicksand-Regular';
}
.bold {
    font-weight: bold;
}
.clr {
    clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.center {
	text-align: center;
}
.bckgr-color {
	background: #f7f7f7;
}
.null1-13 {
    letter-spacing: 0.1em;
    line-height: 1.3em;
}
.null0-14 {
    letter-spacing: 0.0em;
    line-height: 1.4em;
}
body.deskTab .item-page p {
    font-size: 16px;
}
.item-page p, ul li {
    line-height: 1.5em;
}


/*content*/
.custom.event-badge {
    position: absolute;
    top: 24vh;
    left: 9%;
    opacity: 0;
    transform: translateX(-150px);
    transition: opacity 1s linear, transform 0.8s ease-out;
}
body.rdy .custom.event-badge {
    opacity: 1;
    transform: translateX(0px);
}

body.rdy .custom.event-badge {
    opacity: 1;
    transform: translateX(0px);
}

/*body.rdy .custom.event-badge:hover {
    animation: eventAni 0.45s ease-in-out infinite;
}
    @keyframes eventAni {
        0%{transform: rotate(-2deg) translateY(0px)}
        33%{transform: rotate(0deg) translateY(-3px)}
        66%{transform: rotate(2deg) translateY(0px)}
        100%{transform: rotate(0deg) translateY(3px)}
    }*/

body.start .start-content {
    background: url('/images/papperlapub-start-bckgr.jpg') top left no-repeat;
    background-size: cover;
}
body.start main#content {
    height: 100vh;
}
.item-page.start,
.item-page.start .article-body {
    height: inherit;
}
.start-content {
    position: relative;
    height: 75%;
}
.start-bottom-banner {
    height: 25%;
    margin-top: 60px;
}
.logo-start {
    position: absolute;
    bottom: 0;
}
body.deskTab .logo-start {
    left: calc((100% - 307px) / 2);
}
.start-bottom-banner,
.logo-start {
    text-align: center;
}
.start-bottom-banner {
    width: 100%;    
}
.logo-start {
    width: 307px;
}
.logo--small {
    color:#fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.brand-description.uppercase {
    margin-left: 10px;
    letter-spacing: 0.1em;
    line-height: 10px;
}
body.desktop .start-bottom-banner h2 {
    font-size: 76px;
}
.start-bottom-banner h2 {
    line-height: 0.8em;
}
.start-bottom-banner .vcard p {
    display: inline-block;
    font-size: 18px;
}
.start-bottom-banner .vcard p,
.start-bottom-banner .vcard a {
    color: #7f7f7f
}
.start-bottom-banner .vcard p.org {
    display: none;
}
.start-bottom-banner .vcard {
    margin: 20px 0px;
}
body.site .logo-start--badge h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 5px 0px 45px;
}
.logo-start {
    background: rgba(255,255,255,0.75);
    border-radius: 2px;
    padding: 45px 0px 35px
}
.logo-start img {
    width: 220px;
    margin-bottom: 25px;
}
body.deskTab.not_home .item-page .page-header h2 {
    font-size: 40px;
}
body.not_home .item-page .page-header h2 {
    letter-spacing: 0.1em;
    line-height: 1.3em;
    margin-top: 50px;
}
.menu {
    margin-bottom: 80px;
}
.menu ul li {
    color: #898c83;
}
body.deskTab h2.wein {
    margin: 15px 0px 10px;
}
.menu-item h3 {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: initial;
}
.menu-item h2 {
    margin-bottom: 30px;
    font-size: 24px;
}
body.deskTab .menu-row {
    margin: 40px 0px 60px;
}
body.deskTab .menu-row>div {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
body.deskTab .menu-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.menu ul {
    list-style-type: none;
    margin-left: 0px;
}
body.site p.content-opener {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.header--img--container {
    position: relative;
    z-index: 0;
}
.header--content {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
body.deskTab .header--content h1 {
    font-size: 56px;
    margin: 30px 0px 50px;
}
.header--content h1 {
    color: #fff;
}
body.site .page-header {
    border-bottom: none;
}
body.deskTab .logo--small {
    padding: 0px 10px 5px 60px;
}
nav.navbar-wrapper .vcard {
    padding: 20px;
}
ol.breadcrumb a {
    color: var(--first-color);
}
body.mobile #content .blog {
    padding: 0px 20px;
}
body.site .blog .item {
    margin-bottom: 50px;
}
body.site .blog h2 {
    font-size: 21px;
}
body.site .blog h1 {
    font-size: 28px;
}
body.site .blog p {
    font-size: 14px;
}
body.site .blog .pull-left.item-image {
    max-width: 340px;
    margin-right: 30px;
}
body.site .blog span.icon-chevron-right {
    display: none;
}
.event {
    margin-bottom: 60px;
    border-radius: 3px;
    padding: 10px;
}
.event-datum p {
    font-size: 24px;
    font-weight: bold;
    color: var(--first-color);
}
.event-name h2 {
    color: var(--second-color);
}
body.events .event:nth-child(odd) {
    background: #f7f7f7;
}
body.site .carousel-indicators {
    top: 0px;
}
body.desktop .carousel {
    width: 280px;
}
body.desktop ol.carousel-indicators li {
    cursor: pointer;
}
body.site .carousel-indicators li {
    width: 15px;
    height: 15px;
    background-color: rgba(255,255,255,0.55);
    border-radius: 15px;
}
body.site .carousel-indicators li.active {
    background-color: #fff;
}
.location--container .flex.flex-row,
.ueber-uns--container .flex.flex-row {
    margin: 50px 0px 80px;
}
.flex.flex-row>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.flex-item--logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.flex-item.flex-item--logo img {
    width: 210px;
}
body.deskTab .flex-item--text p {
    padding-right: 40px;
}
.flex-item--text h2 {
    font-size: 28px;
    margin: 0px 0px 30px;
}
.location--container .flex-row.location-miet-mich {
    margin: 120px 0px;
}
.flex-item--text a {
    margin: 30px 0px 0px;
    display: inline-block;
}
body.site .location-miet-mich .flex-item--text p {
    font-size: 20px;
}
.miet-mich--container .flex-row {
    margin-bottom: 80px;
}
.miet-mich--container .flex-item.flex-item--logo img {
    width: 230px;
}
.miet-mich--container .flex-row:nth-of-type(2) {
    margin-top: 60px;
}
.miet-mich--container {
    margin-bottom: 60px;
}
.miet-mich--container .secondary-header {
    font-size: 28px;
}
.miet-mich--container .secondary-header:nth-of-type(2) {
    font-size: 24px;
    margin-bottom: 30px;
}
.ueber-uns--container {
    margin: 80px 0px;
}
/*<--- END content*/

 /*Menue!*/
body.site .navbar .nav li.dropdown>.dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;    
}
body.site .navbar .nav li.dropdown.active>.dropdown-toggle .caret {
    border-top-color: var(--second-color);
    border-bottom-color: var(--second-color);
}
body.desktop nav.navbar-wrapper {
    position: fixed;
    opacity: 1;
    transform: translateY(0px);
    animation: fadein 1s ease forwards;
    transition: all 0.5s ease;
    z-index: 1;
}
body.desktop nav.navbar-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0);
    z-index: -1;
    transition: background 0.8s ease, transform .5s ease-in-out 0.8s;
}
body.desktop nav.navbar-wrapper.sticky:after {
    background: rgba(0,0,0, 0.6);
    transition: background 0.5s ease .3s;
}
body.desktop nav.navbar-wrapper.sticky {
    -webkit-box-shadow: 0px 2px 40px -20px #4a4a4a;
            box-shadow: 0px 2px 40px -20px #4a4a4a;
    height: 90px;
    opacity: 0;
    -webkit-animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
            animation: menuDrop 1s cubic-bezier(.16,.56,.45,.22) forwards;
}
body.desktop nav.navbar-wrapper .logo--small,
body.desktop nav.navbar-wrapper .navbar {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.desktop nav.navbar-wrapper.sticky .logo--small {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}
    @-webkit-keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }
    @keyframes menuDrop {
        0% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
        50% { -webkit-transform: translateY(-100px); transform: translateY(-100px); opacity: 0; }
        100% { -webkit-transform: translateY( 0px); transform: translateY( 0px); opacity: 1; }
    }


body:not(.phone) nav.navbar-wrapper:not(.sticky) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}
body:not(.phone) nav.navbar-wrapper.sticky {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
body:not(.phone) nav.navbar-wrapper .logo--small {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
}
body:not(.phone) nav.navbar-wrapper .navbar {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
}
body#body .navbar .nav>li:not(.active)>a {
    color: #fff;
}
body#body.desktop .navbar .nav>li:not(.active):hover>a {
    color: var(--first-color);
}
body.desktop .navbar-wrapper:not(.sticky) ul.nav.menu li {
    background: var(--first-color);
    padding: 0px 5px 0px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid transparent;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
body#body.desktop .navbar .nav>li:not(.active):hover {
    background: transparent;
    border-color: var(--first-color);
}
body.desktop .navbar-wrapper:not(.sticky) ul.nav.menu li.active {
    background: transparent;
    border-color: var(--first-color);
}
body#body .navbar .nav>li>a {
    text-shadow: none;
}
body#body.desktop .navbar .nav>li>a {
    font-family: 'arial';
    text-shadow: none;
    font-size: 12px;
}
body#body.desktop .navbar-wrapper:not(.sticky) .navbar .nav>li>a {
    padding: 40px 15px 40px;
}
body#body .dropdown-menu {
    border: none;
    box-shadow: -2px 11px 30px -10px #9a9a9a;
}
body#body .dropdown-menu>li>a {
    padding: 10px 20px;
}
body#body .navbar .nav>.active>a,
body#body.desktop .navbar .nav>.active>a:hover,
body#body.desktop .navbar .nav>.active>a:focus {
    color: var(--first-color);
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: none;
    border-radius: 0px;
}
body#body .navbar .nav {
    float: none ;
}
.navbar .nav > li {
  display: inline-block;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}
body.site .dropdown-menu {
    padding: 0px;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(2) {
    opacity: 1;
}
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(3),
body.mobile button.btn.btn-navbar span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(0px) translateX(0) rotate(0deg);
    -ms-transform: translateY(0px) translateX(0) rotate(0deg);
    transform: translateY(0px) translateX(0) rotate(0deg);
} 
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(2) {
    opacity: 0;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(1) {
    -webkit-transform: translateY(8px) translateX(0) rotate(35deg);
    -ms-transform: translateY(8px) translateX(0) rotate(35deg);
    transform: translateY(8px) translateX(0) rotate(35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
body.mobile button.btn.btn-navbar.btn-modify span.icon-bar:nth-of-type(3) {
    -webkit-transform: translateY(-8px) translateX(0) rotate(-35deg);
    -ms-transform: translateY(-8px) translateX(0) rotate(-35deg);
    transform: translateY(-8px) translateX(0) rotate(-35deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
} 
body#body .btn-navbar .icon-bar+.icon-bar {
    margin-top: 4px;
}
body#body .navbar .btn-navbar .icon-bar {
    width: 40px;
    height: 4px;
    box-shadow: none;
}
body#body button.btn.btn-navbar {
    text-shadow: none;
    background-image: none;
    background: transparent;
    border: none;
    box-shadow: none;
}
  /*hover / current active states*/
body#body .dropdown-menu>li>a:hover,
body#body .dropdown-menu>li>a:focus,
body#body .dropdown-submenu:hover>a,
body#body .dropdown-submenu:focus>a {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .dropdown-menu>.active>a,
body#body .dropdown-menu>.active>a:hover,
body#body .dropdown-menu>.active>a:focus {
    color: #fff;
    text-decoration: none;
    background-color: var(--first-color);
    background-image: none;
    filter: none;
}
body#body .navbar .nav>li>.dropdown-menu:after { /*submenue triangle in hoverfarbe*/
    border-bottom: 6px solid #e8e8e8;
}
    /*<--END hover / current active states*/


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}


/* non-critical CSS */
.nav-kachel--text>h2:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 120px;
    background: #fff;
}
.start-nav .nav-kachel--text h3 {
    margin: 0;
}
.start-nav .nav-kachel--text>h2 {
    position: relative;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0px 0px 20px;    
}
.start-nav .nav-kachel--text ul {
    list-style-type: none;
    margin-left: 0px;
}
.start-nav .nav-kachel--text ul li,
.start-nav .nav-kachel--text p {
    font-size: 16px;
}
.start-nav .nav-kachel--text ul li {
    line-height: 1.5em;
}
body.desktop a.start-nav-btn:hover {
    background: var(--first-color);
    text-decoration: none;
    color: #fff;
}
a.start-nav-btn {
    color: #333;
    background: #ffd9b4;
    padding: 7px 10px;
    border: 2px solid #fff;
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 1;
    transition: all 0.3s ease-in-out;
}
body.desktop .nav-kachel--item:hover:after {
    background: rgba(0, 0, 0, 0.7);
}
.nav-kachel--item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease-in-out;
}
.nav-kachel--text {
    position: absolute;
    top: 40px;
    left: 20px;
    color: #fff;
    z-index: 1;
}
.nav-kachel--item {
    position: relative;
}
body.deskTab .start-nav .nav-kachel--row.flex>div {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
}
.start-nav .nav-kachel--row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.start-nav--container {
    padding: 50px 0px;
}
.start-nav {
    background: url(/images/papperlapub-start-nav-bckgr.jpg) top left no-repeat;
    background-size: cover;
}
.top {
    margin: 30px 0px;
}
.module_bottom {
    margin: 30px 0px;
}
.innerwidth.content-bottom--wrapper {
    padding: 20px 0px;
}
.content-bottom.flex {
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
}
body.desktop .content-bottom.flex>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.footer--bottom {
    text-align: center;
    margin: 60px 0px;
}
.logo--small__footer {
    margin: 50px 0px;
}
.copyWrapper {
    padding: 10px 0px 20px 20px;
}
body.kontakt i.fa.fa-share {
    display: none;
}
body.kontakt button.ap-btn {
    background: var(--first-color);
    background-image: none;
    border: 1px solid var(--first-color);
    text-shadow: none;
    color: #fff;
    box-shadow: 0px 10px 30px -13px rgba(249, 132, 19, 0.6);
    transition: all 0.3s ease-in-out;
}
body.kontakt button.ap-btn:hover {
    color: var(--first-color);
    background: #fff;
}
body:not(.phone) .kontakt-info--top {
    width: 660px;
    margin: 0 auto 60px;
    min-height: 80px;
}
body.kontakt form {
    clear: both;
}
body:not(.phone) .kontakt-info--top--item {
    width: 50%;
    float: left;
    color: #8a8a8a;
}
/*body.desktop .item-page.impressum,
body.desktop .item-page.datenschutz {
    margin-top: 140px;
}*/
body.deskTab .content-bottom>div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
}
.miet-mich-start--container .content-bottom--img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.content-bottom {
    margin: 80px 0px;
}
body.deskTab .content-bottom--text h2 {
    font-size: 36px;
}
.miet-mich-header-wrapper {
    position: relative;
    width: 100%;
    height: 120px;
    text-align: initial;
}
.miet-mich-header-wrapper h3 {
    font-size: 22px;
    position: absolute;
    right: 0;
}
.miet-mich-start--container .content-bottom--text {
    text-align: right;
}
a.ppb-btn {
    background: var(--first-color);
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
}
body.desktop a.ppb-btn:hover {
    background: #fff;
    color: var(--first-color);
    border-color: var(--first-color);
}
.ueber-advert h3 {
    font-size: 20px;
}
.ueber-advert h2 {
    font-size: 32px;
}
.ueber-advert {
    text-align: center;
}
.ueber-advert a.ppb-btn {
    margin: 20px 0px 0px;
    display: inline-block;
}
.ueber-uns-start--container .content-bottom {
    margin: 40px 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ueber-uns-start .content-bottom--img {
    position: relative;
}
.bottom--img__overlay h3 {
    color: #fff;
    font-size: 14px;
    line-height: initial;
    text-align: center;
}
.bottom--img__overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
body.desktop .content-bottom--img:hover .bottom--img__overlay {
    opacity: 1;
}
.ueber-uns-start .content-bottom--img {
    overflow: hidden;
}
.ueber-uns-start .content-bottom--img img {
    transform: scale(1);
    transition: transform 1s ease-in-out;
}
body.desktop .ueber-uns-start .content-bottom--img:hover img {
    transform: scale(1.2);
}
body.desktop .ueber-uns-start .content-bottom.flex>div {
    -ms-flex-preferred-size: 490px;
    flex-basis: 490px;
}
.ueber-uns-start .content-bottom--img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, 0);
    transition: background 0.5s ease-in-out;
}
body.desktop .ueber-uns-start .content-bottom--img:hover:after {
    background: rgba(255,255,255, 0.3);   
}
.content-bottom-2 h3 {
    font-size: 22px;
    height: 70px;
}
.content-bottom-2>div {
    flex-basis: 30%;
}
body.deskTab .content-bottom-2 {
    justify-content: space-between;
    margin: 60px 0px;
}
.content-bottom-2 .content-bottom--text {
    font-size: 16px;
    line-height: 1.5em;
}
footer.footer {
    text-align: center;
    margin: 80px 0px;
}
.copyWrapper a {
    color: #888888;
}
.copyWrapper p {
    margin-bottom: 20px;
}

body.Firefox .scroll-top-wrapper {
    font-weight: bold;
}
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 4;
    background-color: var(--first-color);
    color: #fff;
    width: 45px;
    height: 45px;
    line-height: 35px;
    right: 5%;
    bottom: 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font-size: 30px;
    border: 2px solid var(--first-color);
}
body.desktop .scroll-top-wrapper:hover {
    color: var(--first-color);
    background-color: transparent;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.8;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}


/*resize Alarm*/
body.desktop #resizeAlarm {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    z-index: 999;
}
body.desktop #resizeAlarm p {
    line-height: 80px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 3px #333333;
    -webkit-transform: translate(0%,50%);
        -ms-transform: translate(0%,50%);
            transform: translate(0%,50%);
}
